@page
@model People.pages.greetingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>greeting</title>
</head>
<body>
    <h1>Welcome to the greeting page</h1>
    @Model.Message
</body>
</html>
