@page
@model People.pages.W2ws1Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>W2ws1</title>
</head>
<body>
    <h1> This is a razor page for wk2 worksheet</h1>
    <ul>
        @for (int i=0; i < 6; i++)
        {     
        <li>@Model.myArray[i]</li>        
        }
    </ul>
    
    <form method="post">
        <label for="Input1">First Name:</label>
        <input type="text" name="Input1" id="Input1" value=@Model.Input1 />
        <input type="submit" value="Press Here!">
    </form>

    <h2>@Model.Message</h2>
  
</body>
</html>
